*{
    box-sizing: border-box;
}
body{
    font-family: Verdana, sans-serif;
    background-color: #cca272;
}

.mySlides{
    display: none;
}

img{
    vertical-align: middle;
    height: 85vh;
    border-radius: 8px;
    border: 5px solid rgb(74, 73, 73);
    box-shadow: 0px 0px 5px #ffffff, 0px 0px 15px #615f5c ;

}

.slideshow-container{
    width: 80%;
    position: relative;
    margin: auto;
    padding-top: 47px;
    
}

.prev, .next{
    cursor: pointer;
    position: absolute;
    top: 50%;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: -22px;
    color: rgb(220, 108, 17);
    font-weight:bold;
    font-size: 32px;
    transition: 0.6s ease;
    background-color: rgba(28, 28, 28, 0.8);
    border: 5px solid rgb(220, 108, 17);
    border-radius: 50%;
    user-select: none;
    margin-left: 20px;
}
.next{
    right: 0%;
    border-radius: 50%;
    color: rgb(220, 108, 17);
    background-color: rgba(26, 25, 25, 0.8);
    border: 5px solid rgb(220, 108, 17);
    margin-right: 20px;
}

.prev:hover, .next:hover{
    background-color: rgba(28, 28, 28, 0.8);
    border: 5px solid rgb(26, 228, 23);
    color: rgb(26, 228, 23) ;
    border-radius: 50%;
    transform: scale(1.3);
}

